<style>
    
/*****************globals*************/
body {
  font-family: 'Fredoka One', cursive;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
.preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 0.3; }

.product-title, .price, .sizes, .colors {
  font-family: 'Fredoka One', cursive;     
  text-transform: UPPERCASE;
  font-weight: bold; 
}

.product-description{
    color: grey;
    font-weight: 100; 
    font-size: 20px;
    text-align: justify;
    
    
}

h5.colors{
        height: 15px;
}
   
.checked, .price span {
  color: #FCB6DF;
  font-size: 50px;
  font-weight: 100;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  font-family: 'Fredoka One', cursive;
   margin-bottom: 15px; }

.product-title {
 font-size: 2em;
  margin-top: 0;
    }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }
   
    button.button.add_to_cart_button.button.btn.btn-default{
        background-color: #DB2E71;
        font-family:'Fredoka One', cursive !important;
        font-size: 20px;
        margin-left: 25%;
    }
    
    button.button.add_to_cart_button.button.btn.btn-default:hover {
        background-color: hotpink;
    }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
     font-family: 'Fredoka One', cursive;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
</style>

{% include 'header.html' %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<nav class="navbar navbar-expand-lg">
  <a id="accueilTitre" class="navbar-brand" href="/">ACCUEIL</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pusheen</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Peluches
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Rilakkuma</a>
          <a class="dropdown-item" href="#">Rilakkuma</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pusheen</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form> 
      <i id="panier" class="fas fa-shopping-basket"></i>
  </div>
</nav>

<div class="container" id="app">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{articles[0].image}}" /></div>
                        {% for index,article in articles if index > 0 %}
						  <div class="tab-pane" id="pic-{{index+1}}"><img src="{{article.image}}" /></div>
                        {% endfor %}
                        </div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{articles[0].image}}" /></a></li>
                        {% for index,article in articles if index > 0 %}
						  <li><a data-target="#pic-{{index+1}}" data-toggle="tab"><img src="{{article.image}}" /></a></li>
                        {% endfor %}
						</ul>
                        
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{articles[0].titre}} - [{ articles[currentColorSelected].coloris }]</h3>
						
						<p class="product-description">[{descriptionCleaned}]</p>
                        <p class="product-dimension">Dimensions :[{ articles[currentColorSelected].hauteur }] x [{ articles[currentColorSelected].largeur }] x [{ articles[currentColorSelected].longueur}]</p>
                        <p class="product-texture"></p>
						<h4 class="price"><span id="prix-produit">[{ articles[currentColorSelected].prix }] €</span></h4>
						<h5 class="colors">Couleur :
                            <div class="form-group">
                                <select @change="displayPrice" class="form-control" id="select-color" name="color-selected">
                                    {% for index,article in articles %}
                                    <option value="{{article.coloris}}"
                                            >{{article.coloris}}</option>
                                    {% endfor %}
                                </select>
                            </div>
						</h5>
						<div class="action">
							<button class="add_to_cart_button button btn btn-default" type="button">Ajouter au panier</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
    const vue = new Vue({
        delimiters: ['[{', '}]'],
        el: "#app",
        data: {
            articles: [
                {% for article in articles %}
                {coloris: "{{article.coloris}}", prix: {{article.prix}}, description: `{{article.description}}`,hauteur:{{article.hauteur}}, largeur:{{article.largeur}},longueur:{{article.longueur}}},
                {% endfor %}
            ],
            currentColorSelected: "{{0}}"
        },
        computed: {
            descriptionCleaned() {
                return(this.articles[this.currentColorSelected].description.replace(/&#039;/gi, "'"));
            }
        },
        methods: {
            displayPrice(e) {
                if(e.target.options.selectedIndex > -1) {
                    const index = e.target.options.selectedIndex
                    this.currentColorSelected = index;
                    
                    document.querySelector(".tab-pane.active").classList.remove("active");
                    document.getElementById("pic-"+(index+1)).classList.add("active");
                }
            }
        }
    });
</script>