<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
       
        <title>ACCUEIL - PLUSHLAND</title>
        <link rel="stylesheet" href="styleRecherche.css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
        {% include 'header.html' %}
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
                {% include 'nav.html' %}
                
                {% if error is defined %}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
                {% endif %}
          
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="https://i.pinimg.com/originals/34/0d/ac/340dac13e3872b1885b6ae7b08dfb0b7.jpg" class="d-block w-100" alt="rilakkuma">
                        </div>
                        <div class="carousel-item">
                          <img src="https://images06.foap.com/images/ae75fa44-d1fd-4989-8cec-6e31420849c2/bangkok-thailand-august-20-2017-a-photo-of-piles-of-cute-keyring-japanese-plush-dolls-on-display-stuffed-animals-selective-focus-on-kawaii-blue-seal-doll-called-mamegoma-japanese-seal-character-editorial-use-only.jpg?filename=w1280&dw=960" class="imgCarousel d-block w-100" alt="mamegoma">
                        </div>
                        <div class="carousel-item">
                          <img src="https://steemitimages.com/0x0/https://steemitimages.com/DQmbo7Toi5CCjXgFsmbQuagv6EP32mhwhq7h4bFqnbgFs2S/IMG_5283.JPG" class="d-block w-100 imgCarousel" alt="pusheen">
                        </div>
                        <div class="carousel-item">
                          <img src="http://www.lacuisinedemerlin.fr/images/cate_11/640/28cm-big-face-peluche-cat-plush-doll-cute-kitty-cat-lucky-cat-pillow-plush-toy-cat-stuffed-animal-doll-lwX9zb-vde0.jpg" class="d-block w-100 imgCarousel" alt="kitty">
                        </div>
                      </div>
                </div>
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div class="primary" class="content-area">
							<section id="main" class="site-main" role="main">
								<h1 class="page-title">NOUVEAUTÉS</h1>
								<ul class="products">
									{% for article in articles %}
									<li class="product type-product"><a
										href="/article?ref={{ article.refArticle }}"> <img
											src="{{ article.image }}"
											class="attachment-shop_catalog wp-post-image" alt="poster_2_up"
											height="300" width="300"/>
											<h3>{{ article.titre }}</h3> <span class="price"><ins>
													<span class="amount">{{ article.prix }} €</span>
												</ins></span>

									</a> <a
										href="/ajouterLigne?refArticle={{ article.refArticle }}"
										class="button add_to_cart_button product_type_simple">Ajouter au panier</a>

										{% if article.pistes is defined %}
											{% if article.pistes|length > 0 %}
										<div id="jquery_jplayer_{{ article.refArticle }}" class="jp-jplayer"></div>
										<div id="jp_container_{{ article.refArticle }}" class="jp-audio" role="application">
											<div class="jp-type-playlist">
												<div class="jp-gui jp-interface">
													<div class="jp-controls-holder">
														<div class="jp-controls">
															<button class="jp-previous" role="button" tabindex="0">previous</button>
															<button class="jp-play" role="button" tabindex="0">play</button>
															<button class="jp-stop" role="button" tabindex="0">stop</button>
															<button class="jp-next" role="button" tabindex="0">next</button>
														</div>
													</div>
												</div>
												<div class="jp-playlist">
													<ul>
														<li>&nbsp;</li>
													</ul>
												</div>
												<div class="jp-no-solution">
													<span>Update Required</span> To play the media you will need to
													either update your browser to a recent version or update your <a
														href="http://get.adobe.com/flashplayer/" target="_blank">Flash
														plugin</a>.
												</div>
											</div>
										</div> 
											{% endif %}
										{% endif %}
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
